Repository crazybass81/T-Developer: changes, and which pre-commit hooks are due for each by the changed paths.
All: evolution-safety-check, agent-size-check

Path conditions:
  evolution-safety-check: any of: ^backend/src/evolution/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.tox/.*|
  htmlcov/.*|
  docs/_build/.*|
  .*\.min\.js|
  .*\.min\.css|
  infrastructure/terraform/\.terraform/.*
)$

  agent-size-check: any of: .*agent.*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.tox/.*|
  htmlcov/.*|
  docs/_build/.*|
  .*\.min\.js|
  .*\.min\.css|
  infrastructure/terraform/\.terraform/.*
)$


chore: 테스트 파일 제거
  backend/test.txt
Due: none

feat(day3): CI/CD 파이프라인 및 Meta Agents 구현 완료
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/backend/data/agents/registry.json
  backend/src/agents/sample_mini_agent.py
  backend/src/evolution/agent_registry.py
  backend/src/evolution/benchmark.py
  backend/tests/evolution/test_agent_registry.py
  buildspec.yml
  infrastructure/terraform/ecr.tf
Due: evolution-safety-check, agent-size-check

feat(day3): Day 3 작업 완료 - 100% 달성
  .task_state.json
  CLAUDE.md
  docs/00_planning/progress/day03_summary.md
Due: none

chore: 자동 검증 시스템 실행 결과 업데이트
  .task_state.json
  CLAUDE.md
  docs/00_planning/reports/day03_report.json
Due: none

feat(day4): Day 4 작업 완료 - 100% 달성
  CLAUDE.md
  backend/src/database/connection_pool.py
  docs/00_planning/progress/day04_summary.md
  infrastructure/terraform/dynamodb.tf
  infrastructure/terraform/elasticache.tf
  infrastructure/terraform/rds.tf
  migrations/001_initial_schema.sql
  scripts/backup_restore.sh
Due: none

feat(day4): 데이터베이스 및 캐시 인프라 구축 완료
  docs/00_planning/reports/day04_report.json
Due: none

docs: 문서 구조 정리 및 Week 1 진행 보고서 작성
  CLAUDE.md
  CLAUDE.md.backup
  CLAUDE_OLD.md
  docs/00_planning/daily_todos/week01/day01-07.md
  docs/daily_progress/week1_summary.md
Due: none

docs: Complete documentation cleanup and Week 1 consolidation
  .secrets.baseline
  .task_state.json
  CLAUDE.md
  CLAUDE.md.backup
  CLAUDE_OLD.md
  docs/00_planning/progress/week01_summary.md
  docs/daily_progress/week1_summary.md
Due: none

feat(monitoring): Day 5 - Complete monitoring & logging infrastructure with TDD
  .claude/settings.local.json
  .task_state.json
  CLAUDE.md
  backend/requirements.txt
  backend/src/monitoring/evolution_monitor.py
  backend/src/monitoring/log_aggregator.py
  backend/src/monitoring/performance_baseline.py
  backend/tests/monitoring/test_monitoring_client.py
  config/otel-collector.yaml
  config/performance-baselines.yaml
  docker/compose/otel-collector.yml
  docs/00_planning/guides/task-validation.md
  docs/00_planning/progress/day05_summary.md
  docs/00_planning/progress/week01_summary.md
  infrastructure/terraform/cloudwatch.tf
  infrastructure/terraform/sns_alarms.tf
  infrastructure/terraform/xray.tf
Due: none

feat(day6): Complete Agent Registry Data Model with TDD
  backend/migrations/002_agent_registry.sql
  backend/src/models/agent.py
  backend/src/models/agent_gene_pool.py
  backend/src/models/agent_version.py
  backend/src/models/ai_analysis.py
  backend/src/models/evolution_history.py
  backend/src/models/fitness_function.py
  backend/tests/models/test_agent_models.py
Due: agent-size-check

feat(day7): Complete AI Analysis Engine with TDD
  .claude/settings.local.json
  .task_state.json
  CLAUDE.md
  backend/src/analysis/__init__.py
  backend/src/analysis/ai_analysis_engine.py
  backend/src/analysis/analysis_history.py
  backend/src/analysis/metrics.py
  backend/src/analysis/model_integrations.py
  backend/src/analysis/realtime_analyzer.py
  backend/src/models/agent_gene_pool.py
  backend/src/models/ai_analysis.py
  backend/src/models/fitness_function.py
  backend/tests/analysis/test_ai_analysis_engine.py
  backend/tests/models/test_agent_models.py
Due: agent-size-check

feat(messaging): Day 8 완료 - 메시지 큐 시스템 구현
  .task_state.json
  CLAUDE.md
  backend/src/messaging/agent_registry.py
  backend/src/messaging/agent_router.py
  backend/src/messaging/backup_manager.py
  backend/src/messaging/broadcast_manager.py
  backend/src/messaging/dead_letter_queue.py
  backend/src/messaging/event_bus.py
  backend/src/messaging/event_filter.py
  backend/src/messaging/event_stream.py
  backend/src/messaging/message_persistence.py
  backend/src/messaging/message_queue.py
  backend/src/messaging/performance_tester.py
  backend/src/messaging/priority_queue.py
  backend/src/messaging/resilience_tester.py
  backend/src/messaging/security.py
  backend/src/messaging/transaction_manager.py
  backend/tests/messaging/test_message_queue.py
Due: agent-size-check

feat(testing): Day 10 완료 - Registry 통합 테스트 시스템 구축
  .task_state.json
  CLAUDE.md
  backend/tests/integration/test_registry.py
  backend/tests/performance/benchmark_registry.py
  backend/tests/security/ai_output_verification.py
  backend/tests/security/prompt_injection_test.py
  docs/registry_performance_report.md
Due: none

feat(workflow): Complete Day 11 Workflow Parser System implementation
  .task_state.json
  CLAUDE.md
  backend/src/workflow/dag_validator.py
  backend/src/workflow/engine.py
  backend/src/workflow/optimizer.py
  backend/src/workflow/parser.py
  backend/tests/workflow/__init__.py
  backend/tests/workflow/test_dag_validator.py
  backend/tests/workflow/test_engine.py
  backend/tests/workflow/test_integration.py
  backend/tests/workflow/test_optimizer.py
  backend/tests/workflow/test_performance_constraints.py
  backend/tests/workflow/test_workflow_parser.py
Due: none

feat(deployment): Complete Day 12 Bedrock AgentCore Automated Deployment System
  .task_state.json
  CLAUDE.md
  backend/rollback_backups.db
  backend/src/deployment/agentcore_deployer.py
  backend/src/deployment/deployment_tracker.py
  backend/src/deployment/rollback_manager.py
  backend/tests/deployment/__init__.py
  backend/tests/deployment/test_agentcore_deployer.py
  backend/tests/deployment/test_deployment_integration.py
  backend/tests/deployment/test_deployment_tracker.py
  backend/tests/deployment/test_rollback_manager.py
  scripts/deploy_to_agentcore.sh
Due: agent-size-check

feat(docs): Complete documentation for Day 1-12 and reorganize project structure
  CLAUDE.md
  backend/STRUCTURE.md
  backend/backend/data/agents/registry.json
  backend/scripts/validation/final_validation.py
  backend/src/deployment/agentcore_deployer.py
  backend/src/deployment/deployment_tracker.py
  backend/src/deployment/rollback_manager.py
  backend/tests/api/test_day9_gateway.py
  backend/tests/deployment/__init__.py
  backend/tests/deployment/test_agentcore_deployer.py
  backend/tests/deployment/test_deployment_integration.py
  backend/tests/deployment/test_deployment_tracker.py
  backend/tests/deployment/test_rollback_manager.py
  backend/tests/evolution/test_registry_cli.py
  docs/00_planning/progress/week02_summary.md
  docs/00_planning/reports/COMPLETE_DOCUMENTATION_DAY1-12.md
  docs/00_planning/reports/INDEX.md
  docs/00_planning/reports/registry_performance_report.md
  scripts/deploy_to_agentcore.sh
Due: agent-size-check

fix: Add newlines at end of files (linter fixes)
  CLAUDE.md
  backend/STRUCTURE.md
  docs/00_planning/progress/week02_summary.md
  docs/00_planning/reports/COMPLETE_DOCUMENTATION_DAY1-12.md
  docs/00_planning/reports/INDEX.md
  docs/00_planning/reports/registry_performance_report.md
Due: none

chore: Add .task_state.json to gitignore
  .gitignore
Due: none

docs: Document critical agent size constraint violations
  backend/src/agents/SIZE_VIOLATIONS.md
Due: none

fix(ci): Temporarily allow agent size violations in GitHub Actions
  .github/workflows/FIXES_NEEDED.md
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

feat(orchestration): Day 14 완료 - Agent Squad Orchestrator Integration 구현
  .task_state.json
  CLAUDE.md
  backend/src/agents/data_transformer/agent.py
  backend/src/agents/unified/assembly/agent.py
  backend/src/agents/unified/base/base_agent.py
  backend/src/agents/unified/base/unified_base_agent.py
  backend/src/agents/unified/component_decision/agent.py
  backend/src/agents/unified/download/agent.py
  backend/src/agents/unified/generation/agent.py
  backend/src/agents/unified/match_rate/agent.py
  backend/src/agents/unified/nl_input/agent.py
  backend/src/agents/unified/parser/agent.py
  backend/src/agents/unified/search/agent.py
  backend/src/agents/unified/ui_selection/agent.py
  backend/src/core/api_gateway_manager.py
  backend/src/core/endpoint_registry.py
  backend/src/monitoring/endpoint_monitor.py
  backend/src/orchestration/api_connector.py
  backend/src/orchestration/parallel_executor.py
  backend/src/orchestration/squad_manager.py
  backend/tests/orchestration/test_api_connector.py
  backend/tests/orchestration/test_parallel_executor.py
  backend/tests/orchestration/test_squad_manager.py
Due: agent-size-check

feat(workflow): Day 15 완료 - Real-time Workflow Execution 구현
  backend/src/workflow/streaming_manager.py
  backend/src/workflow/workflow_executor.py
  backend/src/workflow/workflow_monitor.py
  backend/tests/workflow/test_streaming_manager.py
  backend/tests/workflow/test_workflow_executor.py
  backend/tests/workflow/test_workflow_monitor.py
Due: none

fix(ci): GitHub Actions 오류 수정
  .github/workflows/daily-validation.yml
  .github/workflows/deploy.yml
  .github/workflows/test-automation.yml
  .github/workflows/test.yml
Due: none

fix(ci): Complete GitHub Actions fixes - UV environment and deprecated actions
  .github/workflows/cd.yml
  .github/workflows/deploy.yml
  .task_state.json
  CLAUDE.md
Due: none

fix(ci): Fix UV virtual environment PATH issues
  .github/workflows/deploy.yml
Due: none

fix(ci): Add error handling to linting steps for debugging
  .github/workflows/deploy.yml
  docs/frontend
Due: none

fix(ci): Make agent size checks and CodeQL non-blocking
  .github/workflows/deploy.yml
  docs/frontend
  docs/frontend_design.md
  docs/frontend_dev_plan.md
Due: none

fix(ci): Add proper permissions for CodeQL and all workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/daily-validation.yml
  .github/workflows/deploy.yml
  .github/workflows/test-automation.yml
  .github/workflows/test.yml
  docs/frontend_dev_plan.md
Due: none

docs: Reorganize documentation structure - Move frontend docs to dedicated directory - Move agent docs from backend to docs - Create requirements documentation - Update INDEX.md navigation
  backend/src/agents/README.md
  backend/src/agents/unified/README.md
  backend/src/multimodal/README.md
  docs/01_architecture/backend_structure.md
  docs/02_implementation/README.md
  docs/02_implementation/agents/IMPLEMENTATION_SUMMARY.md
  docs/02_implementation/agents/README.md
  docs/02_implementation/agents/SIZE_VIOLATIONS.md
  docs/05_operations/requirements/README.md
  docs/06_frontend/frontend_design.md
  docs/06_frontend/frontend_dev_plan.md
  docs/INDEX.md
  docs/README.md
Due: none

fix: Critical bug fixes for orchestration system
  backend/scripts/migration_scheduler.py
  backend/src/agents/unified/generation/modules/code_generator.py
  backend/src/agents/unified/generation/modules/project_scaffolder.py
  backend/src/agents/unified/search/modules/recommendation_search.py
  backend/src/agents/unified/search/modules/search_optimizer.py
  backend/src/ai/analyzers/capability_extractor.py
  backend/src/ai/analyzers/code_analyzer.py
  backend/src/ai/prompts/analysis_prompts.py
  backend/src/ai_complete_service.py
  backend/src/core/agent_loader.py
  backend/src/core/dependency_resolver.py
  backend/src/core/sandbox_executor.py
  backend/src/main_api.py
  backend/src/migration/__init__.py
  backend/src/migration/code_converter.py
  backend/src/migration/compatibility_checker.py
  backend/src/migration/legacy_analyzer.py
  backend/src/migration/migration_scheduler.py
  backend/src/monitoring/anomaly_detector.py
  backend/src/monitoring/metrics_collector.py
  backend/src/orchestration/api_connector.py
  backend/src/orchestration/parallel_executor.py
  backend/src/orchestration/production_pipeline.py
  backend/tests/migration/test_code_converter.py
  backend/tests/migration/test_compatibility_checker.py
  backend/tests/migration/test_legacy_analyzer.py
  backend/tests/migration/test_migration_scheduler.py
  backend/tests/test_ai_analyzers.py
  config/endpoint_mapping.yaml
  docs/monitoring_metrics.md
  infrastructure/cloudwatch/dashboards.json
Due: agent-size-check

fix: Additional critical orchestration bugs from extended code review
  backend/src/orchestration/agent_squad_v2.py
  backend/src/orchestration/squad_manager.py
Due: agent-size-check

feat(migration): Day 16 - Migration Framework Implementation
  backend/src/migration/code_converter_compact.py
  backend/src/migration/code_converter_v2.py
  backend/src/migration/compatibility_checker_compact.py
  backend/src/migration/compatibility_checker_v2.py
  backend/src/migration/legacy_analyzer_compact.py
  backend/src/migration/legacy_analyzer_v2.py
  backend/src/migration/migration_scheduler_compact.py
  backend/src/migration/migration_scheduler_v2.py
  backend/tests/migration/test_migration_framework.py
Due: none

feat(migration): Day 17 - Core Agent Migration to AgentCore
  .claude/settings.local.json
  .task_state.json
  CLAUDE.md
  README.md
  backend/deployments.db
  backend/scripts/create_agentcore_wrapper.py
  backend/scripts/deploy_core_agents.py
  backend/scripts/migrate_core_agents.py
  backend/src/agents/agentcore/nl_input/main.py
  backend/src/agents/agentcore/nl_input/metadata.json
  backend/src/agents/agentcore/parser/main.py
  backend/src/agents/agentcore/parser/metadata.json
  backend/src/agents/agentcore/ui_selection/main.py
  backend/src/agents/agentcore/ui_selection/metadata.json
  docs/00_planning/progress/day16_report.md
  docs/00_planning/progress/day17_report.md
  docs/00_planning/progress/week03_summary.md
  docs/02_implementation/migration/MIGRATION_FRAMEWORK.md
Due: agent-size-check

feat(phase1): Days 18-20 - Phase 1 Complete! 🎉
  backend/infrastructure/lambda/template.yaml
  backend/scripts/deploy_lambda_functions.sh
  backend/scripts/migrate_additional_agents.py
  backend/src/agents/agentcore/component_decision/main.py
  backend/src/agents/agentcore/component_decision/metadata.json
  backend/src/agents/agentcore/match_rate/main.py
  backend/src/agents/agentcore/match_rate/metadata.json
  backend/src/agents/agentcore/search/main.py
  backend/src/agents/agentcore/search/metadata.json
  backend/tests/integration/test_agent_integration.py
  docs/00_planning/PHASE1_COMPLETION_REPORT.md
  docs/00_planning/progress/day18_report.md
  docs/00_planning/progress/day19_report.md
Due: agent-size-check

fix(ci): Complete GitHub Actions pipeline overhaul
  .github/workflows/ci.yml
Due: none

feat(agents): Implement real functionality for Search and NL Input agents
  .task_state.json
  CLAUDE.md
  backend/src/agents/agentcore/nl_input/main.py
  backend/src/agents/agentcore/search/main.py
  backend/test_real_agents.py
Due: agent-size-check

feat(phase2): Day 21 - Requirement Analysis AI System
  .task_state.json
  CLAUDE.md
  backend/src/agents/enterprise/__init__.py
  backend/src/agents/enterprise/base_agent.py
  backend/src/agents/framework/core/base_agent.py
  backend/src/agents/meta/requirement_analyzer.py
  backend/src/agents/unified/base/mini_base_agent.py
  backend/src/agents/unified/base/unified_base_agent.py
  backend/src/agents/unified/download/agent.py
  backend/src/agents/unified/nl_input/__init__.py
  backend/src/agents/unified/nl_input/agent.py
  backend/src/agents/unified/orchestrator.py
  backend/src/agents/unified/ui_selection/agent.py
  backend/src/ai/consensus_engine.py
  backend/src/ai/pattern_matcher.py
  backend/tests/test_requirement_analyzer.py
  config/ai_models.yaml
Due: agent-size-check

feat(phase2): Day 22 - Agent Auto-Generation Engine
  .task_state.json
  CLAUDE.md
  backend/src/agents/meta/agent_generator.py
  backend/src/core/dependency_manager.py
  backend/src/templates/agent_base.j2
  backend/src/templates/agent_templates.py
  docs/00_planning/progress/phase2_week1.md
Due: agent-size-check

feat(Day27): Complete code optimization engine
  .task_state.json
  CLAUDE.md
  backend/scripts/continuous_deployment.py
  backend/src/agents/meta/code_optimizer.py
  backend/src/agents/meta/code_quality_analyzer.py
  backend/src/agents/meta/performance_analyzer.py
  backend/src/agents/meta/service_builder.py
  backend/src/agents/meta/workflow_composer.py
  backend/src/deployment/api_registry_updater.py
  backend/src/deployment/auto_deployer.py
  backend/src/deployment/validation_engine.py
  backend/src/monitoring/bottleneck_detector.py
  backend/src/optimization/ast_analyzer.py
  backend/src/optimization/parallelizer.py
  backend/src/optimization/refactoring_engine.py
  backend/src/optimization/resource_allocator.py
  backend/tests/test_auto_deployment.py
  backend/tests/test_code_optimization.py
  backend/tests/test_code_quality_performance.py
  backend/tests/test_service_builder_integration.py
  backend/tests/test_workflow_composition.py
  docs/00_planning/progress/phase1_complete.md
  docs/00_planning/progress/phase2_week1_complete.md
Due: agent-size-check
